<span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Daily Feature Pipeline for Air Quality (aqicn.org) and weather (openmeteo)</span>

## üóíÔ∏è This notebook is divided into the following sections:
1. Download and Parse Data
2. Feature Group Insertion


__This notebook should be scheduled to run daily__

In the book, we use a GitHub Action stored here:
[.github/workflows/air-quality-daily.yml](https://github.com/featurestorebook/mlfs-book/blob/main/.github/workflows/air-quality-daily.yml)

However, you are free to use any Python Orchestration tool to schedule this program to run daily.

### <span style='color:#ff5f27'> üìù Imports

In [1]:
import concurrent.futures
import datetime
import time
import requests
import pandas as pd
import hopsworks
from functions import util
import json
import os
import warnings
warnings.filterwarnings("ignore")

from dotenv import load_dotenv
import os

env_path = '../../data/.env'
load_dotenv(dotenv_path=env_path)

HOPSWORKS_API_KEY = os.getenv("HOPSWORKS_API_KEY")

## <span style='color:#ff5f27'> üåç Get the Sensor URL, Country, City, Street names from Hopsworks </span>

__Update the values in the cell below.__

__These should be the same values as in notebook 1 - the feature backfill notebook__

In [2]:
project = hopsworks.login(project='mlfs_lab1')
fs = project.get_feature_store() 
secrets = util.secrets_api(project.name)

# This line will fail if you have not registered the AQI_API_KEY as a secret in Hopsworks
AQI_API_KEY = secrets.get_secret("AQI_API_KEY").value
location_str = secrets.get_secret("SENSOR_LOCATION_JSON").value
location = json.loads(location_str)

country=location['country']
city=location['city']
street=location['street']
aqicn_url=location['aqicn_url']
latitude=location['latitude']
longitude=location['longitude']

today = datetime.date.today()
yesterday = today - datetime.timedelta(days=1)

location_str, today

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1163420
2024-11-13 22:14:04,488 WARNING: using legacy validation callback
Connected. Call `.close()` to terminate connection gracefully.
Connected. Call `.close()` to terminate connection gracefully.

('{"country": "china", "city": "shanghai", "street": "jinganjiancezhan", "aqicn_url": "https://api.waqi.info/feed/@486", "latitude": 31.23, "longitude": 121.47}',
 datetime.date(2024, 11, 13))

### <span style="color:#ff5f27;"> üîÆ Get references to the Feature Groups </span>

In [3]:
# Retrieve feature groups
air_quality_fg = fs.get_feature_group(
    name='air_quality',
    version=3,
)
weather_fg = fs.get_feature_group(
    name='weather',
    version=5,
)

## <span style='color:#ff5f27'> üå´ Retrieve Today's Air Quality data (PM2.5) from the AQI API</span>

In [4]:
import requests
import pandas as pd

aq_today_df = util.get_pm25(aqicn_url, country, city, street, today, AQI_API_KEY)
display(aq_today_df)
aq_today_df.info()

,pm25,country,city,street,date,url
0,72.0,china,shanghai,jinganjiancezhan,2024-11-13,https://api.waqi.info/feed/@486

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pm25     1 non-null      float32
 1   country  1 non-null      object
 2   city     1 non-null      object
 3   street   1 non-null      object
 4   date     1 non-null      datetime64[ns]
 5   url      1 non-null      object
dtypes: datetime64[ns](1), float32(1), object(4)
memory usage: 176.0+ bytes

## <span style='color:#ff5f27'> üå¶ Get Weather Forecast data</span>

In [5]:
hourly_df = util.get_hourly_weather_forecast(city, latitude, longitude)
hourly_df = hourly_df.set_index('date')

# We will only make 1 daily prediction, so we will replace the hourly forecasts with a single daily forecast
# We only want the daily weather data, so only get weather at 12:00
daily_df = hourly_df.between_time('11:59', '12:01')
daily_df = daily_df.reset_index()
daily_df['date'] = pd.to_datetime(daily_df['date']).dt.date
daily_df['date'] = pd.to_datetime(daily_df['date'])
daily_df['city'] = city

df_tail22 = air_quality_fg.read().sort_values(by=['date'], ascending=True).tail(22)

for i in range(1, 22):
    df_temp = df_tail22.copy()
    df_temp['date'] = pd.to_datetime(df_temp['date']) + pd.Timedelta(days=i)
    df_temp['date'] = pd.to_datetime(df_temp['date']).dt.tz_localize(None)
    daily_df = pd.merge(daily_df, df_temp[['date','pm25']], how='left', on="date")
    daily_df = daily_df.rename(columns={"pm25": f"pm25_{i}"})

# today's pm25 value
pm25_value = aq_today_df.iloc[0]['pm25']
today_date = aq_today_df.iloc[0]['date']
# add pm25 value from today
for i in range(1, 22):
    date = today_date + pd.Timedelta(days=i)
    condition = (daily_df['date'] == date)
    daily_df.loc[condition, f'pm25_{i}'] = pm25_value

display(daily_df)
daily_df.info()

Coordinates 31.25¬∞N 121.5¬∞E
Elevation 3.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.39s)

,date,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_direction_10m_dominant,city,pm25_1,pm25_2,pm25_3,pm25_4,...,pm25_12,pm25_13,pm25_14,pm25_15,pm25_16,pm25_17,pm25_18,pm25_19,pm25_20,pm25_21
0,2024-11-13,17.650000,0.0,7.895416,114.227737,shanghai,93.0,87.0,61.0,46.0,...,20.0,49.0,54.0,49.0,115.0,34.0,23.0,47.0,46.0,95.0
1,2024-11-14,19.950001,0.0,5.091168,171.869980,shanghai,72.0,93.0,87.0,61.0,...,103.0,20.0,49.0,54.0,49.0,115.0,34.0,23.0,47.0,46.0
2,2024-11-15,19.750000,0.3,8.714677,51.709793,shanghai,NaN,72.0,93.0,87.0,...,140.0,103.0,20.0,49.0,54.0,49.0,115.0,34.0,23.0,47.0
3,2024-11-16,19.850000,0.0,9.885262,10.491434,shanghai,NaN,NaN,72.0,93.0,...,124.0,140.0,103.0,20.0,49.0,54.0,49.0,115.0,34.0,23.0
4,2024-11-17,14.200000,0.0,16.676977,13.736293,shanghai,NaN,NaN,NaN,72.0,...,45.0,124.0,140.0,103.0,20.0,49.0,54.0,49.0,115.0,34.0
5,2024-11-18,11.550000,0.0,11.525623,14.470333,shanghai,NaN,NaN,NaN,NaN,...,35.0,45.0,124.0,140.0,103.0,20.0,49.0,54.0,49.0,115.0
6,2024-11-19,12.250000,0.0,6.924738,351.027435,shanghai,NaN,NaN,NaN,NaN,...,35.0,35.0,45.0,124.0,140.0,103.0,20.0,49.0,54.0,49.0
7,2024-11-20,11.850000,0.0,4.379589,9.462248,shanghai,NaN,NaN,NaN,NaN,...,55.0,35.0,35.0,45.0,124.0,140.0,103.0,20.0,49.0,54.0
8,2024-11-21,11.600000,0.0,5.692099,34.695221,shanghai,NaN,NaN,NaN,NaN,...,46.0,55.0,35.0,35.0,45.0,124.0,140.0,103.0,20.0,49.0
9,2024-11-22,13.400000,0.0,7.145796,49.085716,shanghai,NaN,NaN,NaN,NaN,...,61.0,46.0,55.0,35.0,35.0,45.0,124.0,140.0,103.0,20.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         10 non-null     datetime64[ns]
 1   temperature_2m_mean          10 non-null     float32
 2   precipitation_sum            10 non-null     float32
 3   wind_speed_10m_max           10 non-null     float32
 4   wind_direction_10m_dominant  10 non-null     float32
 5   city                         10 non-null     object
 6   pm25_1                       2 non-null      float32
 7   pm25_2                       3 non-null      float32
 8   pm25_3                       4 non-null      float32
 9   pm25_4                       5 non-null      float32
 10  pm25_5                       6 non-null      float32
 11  pm25_6                       7 non-null      float32
 12  pm25_7                       8 non-null      float32
 13  pm25_8                       9 non-null      float32
 14  pm25_9                       10 non-null     float32
 15  pm25_10                      10 non-null     float32
 16  pm25_11                      10 non-null     float32
 17  pm25_12                      10 non-null     float32
 18  pm25_13                      10 non-null     float32
 19  pm25_14                      10 non-null     float32
 20  pm25_15                      10 non-null     float32
 21  pm25_16                      10 non-null     float32
 22  pm25_17                      10 non-null     float32
 23  pm25_18                      10 non-null     float32
 24  pm25_19                      10 non-null     float32
 25  pm25_20                      10 non-null     float32
 26  pm25_21                      10 non-null     float32
dtypes: datetime64[ns](1), float32(25), object(1)
memory usage: 1.3+ KB

## <span style="color:#ff5f27;"> Display before upload</span>

In [ ]:
# display(air_quality_fg.read().sort_values(by=['date'], ascending=True).tail(5))
# display(weather_fg.read().sort_values(by=['date'], ascending=True).tail(15))

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.27s)

,date,pm25,country,city,street,url
1370,2024-11-07 00:00:00+00:00,35.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
3121,2024-11-08 00:00:00+00:00,55.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
2555,2024-11-09 00:00:00+00:00,46.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
3039,2024-11-10 00:00:00+00:00,56.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
3952,2024-11-11 00:00:00+00:00,132.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.26s)

,date,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_direction_10m_dominant,city,pm25_1,pm25_2,pm25_3,pm25_4,...,pm25_11,pm25_12,pm25_13,pm25_14,pm25_15,pm25_16,pm25_17,pm25_18,pm25_19,pm25_20
1477,2024-10-28 00:00:00+00:00,15.811168,0.000000,19.320465,347.887512,shanghai,34.0,23.0,47.0,46.0,...,68.0,71.0,108.0,60.0,43.0,110.0,146.0,128.0,73.0,94.0
56,2024-10-29 00:00:00+00:00,16.359083,0.000000,16.622490,1.761852,shanghai,115.0,34.0,23.0,47.0,...,73.0,68.0,71.0,108.0,60.0,43.0,110.0,146.0,128.0,73.0
1404,2024-10-30 00:00:00+00:00,19.104918,0.000000,23.185787,42.530087,shanghai,49.0,115.0,34.0,23.0,...,52.0,73.0,68.0,71.0,108.0,60.0,43.0,110.0,146.0,128.0
279,2024-10-31 00:00:00+00:00,21.023664,72.799995,24.979176,44.617844,shanghai,54.0,49.0,115.0,34.0,...,48.0,52.0,73.0,68.0,71.0,108.0,60.0,43.0,110.0,146.0
2171,2024-11-01 00:00:00+00:00,18.234087,58.000004,41.148014,1.924738,shanghai,49.0,54.0,49.0,115.0,...,82.0,48.0,52.0,73.0,68.0,71.0,108.0,60.0,43.0,110.0
422,2024-11-02 00:00:00+00:00,17.463247,0.000000,24.215185,335.282562,shanghai,20.0,49.0,54.0,49.0,...,104.0,82.0,48.0,52.0,73.0,68.0,71.0,108.0,60.0,43.0
2250,2024-11-03 00:00:00+00:00,17.740332,0.000000,8.149847,16.130766,shanghai,103.0,20.0,49.0,54.0,...,95.0,104.0,82.0,48.0,52.0,73.0,68.0,71.0,108.0,60.0
3676,2024-11-04 00:00:00+00:00,17.409084,0.000000,19.645580,10.283305,shanghai,140.0,103.0,20.0,49.0,...,46.0,95.0,104.0,82.0,48.0,52.0,73.0,68.0,71.0,108.0
2825,2024-11-05 00:00:00+00:00,13.817414,0.000000,19.852295,358.205353,shanghai,124.0,140.0,103.0,20.0,...,47.0,46.0,95.0,104.0,82.0,48.0,52.0,73.0,68.0,71.0
1213,2024-11-06 00:00:00+00:00,13.725750,0.000000,17.589418,15.969136,shanghai,45.0,124.0,140.0,103.0,...,23.0,47.0,46.0,95.0,104.0,82.0,48.0,52.0,73.0,68.0
2444,2024-11-07 00:00:00+00:00,14.234082,0.000000,14.450535,34.656887,shanghai,35.0,45.0,124.0,140.0,...,34.0,23.0,47.0,46.0,95.0,104.0,82.0,48.0,52.0,73.0
2238,2024-11-08 00:00:00+00:00,17.711164,0.000000,18.275984,44.213470,shanghai,35.0,35.0,45.0,124.0,...,115.0,34.0,23.0,47.0,46.0,95.0,104.0,82.0,48.0,52.0
1079,2024-11-09 00:00:00+00:00,18.850750,0.500000,21.862406,43.717545,shanghai,55.0,35.0,35.0,45.0,...,49.0,115.0,34.0,23.0,47.0,46.0,95.0,104.0,82.0,48.0
957,2024-11-10 00:00:00+00:00,16.086168,1.200000,18.553974,0.802675,shanghai,46.0,55.0,35.0,35.0,...,54.0,49.0,115.0,34.0,23.0,47.0,46.0,95.0,104.0,82.0
3170,2024-11-11 00:00:00+00:00,15.100000,0.000000,8.161764,41.423569,shanghai,56.0,46.0,55.0,35.0,...,49.0,54.0,49.0,115.0,34.0,23.0,47.0,46.0,95.0,104.0

## <span style="color:#ff5f27;">‚¨ÜÔ∏è Uploading new data to the Feature Store</span>

We use multi-threaded methods start two INSERT tasks at the same time. Wait until the two tasks are over before continuing.

In [6]:
def insert_data(feature_group, data):
    return feature_group.insert(data, write_options={"wait_for_job": True})

with concurrent.futures.ThreadPoolExecutor() as executor:
    future1 = executor.submit(insert_data, weather_fg, daily_df)
    future2 = executor.submit(insert_data, air_quality_fg, aq_today_df)

    concurrent.futures.wait([future1, future2])

2024-11-13 22:21:54,001 INFO: 	1 expectation(s) included in expectation_suite.
Validation succeeded.
2024-11-13 22:21:54,047 INFO: 	22 expectation(s) included in expectation_suite.
Validation succeeded.
Validation Report saved successfully, explore a summary at https://c.app.hopsworks.ai:443/p/1163420/fs/1154123/fg/1347016
Validation Report saved successfully, explore a summary at https://c.app.hopsworks.ai:443/p/1163420/fs/1154123/fg/1347018

Uploading Dataframe: 0.00% |          | Rows 0/1 | Elapsed Time: 00:00 | Remaining Time: ?

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: air_quality_3_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1163420/jobs/named/air_quality_3_offline_fg_materialization/executions
Launching job: weather_5_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1163420/jobs/named/weather_5_offline_fg_materialization/executions

In [7]:
display(air_quality_fg.read().sort_values(by=['date'], ascending=True).tail(5))
display(weather_fg.read().sort_values(by=['date'], ascending=True).tail(15))

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (3.99s)

,date,pm25,country,city,street,url
2556,2024-11-09 00:00:00+00:00,46.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
3040,2024-11-10 00:00:00+00:00,61.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
3217,2024-11-11 00:00:00+00:00,87.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
3785,2024-11-12 00:00:00+00:00,93.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486
779,2024-11-13 00:00:00+00:00,72.0,china,shanghai,jinganjiancezhan,https://api.waqi.info/feed/@486

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.26s)

,date,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_direction_10m_dominant,city,pm25_1,pm25_2,pm25_3,pm25_4,...,pm25_12,pm25_13,pm25_14,pm25_15,pm25_16,pm25_17,pm25_18,pm25_19,pm25_20,pm25_21
2235,2024-11-08 00:00:00+00:00,17.711164,0.0,18.275984,44.213470,shanghai,35.0,35.0,45.0,124.0,...,34.0,23.0,47.0,46.0,95.0,104.0,82.0,48.0,52.0,73.0
1078,2024-11-09 00:00:00+00:00,18.850750,0.5,21.862406,43.717545,shanghai,55.0,35.0,35.0,45.0,...,115.0,34.0,23.0,47.0,46.0,95.0,104.0,82.0,48.0,52.0
956,2024-11-10 00:00:00+00:00,16.086168,1.2,18.553974,0.802675,shanghai,46.0,55.0,35.0,35.0,...,49.0,115.0,34.0,23.0,47.0,46.0,95.0,104.0,82.0,48.0
3166,2024-11-11 00:00:00+00:00,16.271584,0.0,14.092977,25.547438,shanghai,61.0,46.0,55.0,35.0,...,54.0,49.0,115.0,34.0,23.0,47.0,46.0,95.0,104.0,82.0
838,2024-11-12 00:00:00+00:00,17.000000,0.0,5.091168,44.999897,shanghai,87.0,61.0,46.0,55.0,...,49.0,54.0,49.0,115.0,34.0,23.0,47.0,46.0,95.0,104.0
3822,2024-11-13 00:00:00+00:00,17.650000,0.0,7.895416,114.227737,shanghai,93.0,87.0,61.0,46.0,...,20.0,49.0,54.0,49.0,115.0,34.0,23.0,47.0,46.0,95.0
3816,2024-11-14 00:00:00+00:00,19.950001,0.0,5.091168,171.869980,shanghai,72.0,93.0,87.0,61.0,...,103.0,20.0,49.0,54.0,49.0,115.0,34.0,23.0,47.0,46.0
3813,2024-11-15 00:00:00+00:00,19.750000,0.3,8.714677,51.709793,shanghai,NaN,72.0,93.0,87.0,...,140.0,103.0,20.0,49.0,54.0,49.0,115.0,34.0,23.0,47.0
3817,2024-11-16 00:00:00+00:00,19.850000,0.0,9.885262,10.491434,shanghai,NaN,NaN,72.0,93.0,...,124.0,140.0,103.0,20.0,49.0,54.0,49.0,115.0,34.0,23.0
3819,2024-11-17 00:00:00+00:00,14.200000,0.0,16.676977,13.736293,shanghai,NaN,NaN,NaN,72.0,...,45.0,124.0,140.0,103.0,20.0,49.0,54.0,49.0,115.0,34.0
3814,2024-11-18 00:00:00+00:00,11.550000,0.0,11.525623,14.470333,shanghai,NaN,NaN,NaN,NaN,...,35.0,45.0,124.0,140.0,103.0,20.0,49.0,54.0,49.0,115.0
3821,2024-11-19 00:00:00+00:00,12.250000,0.0,6.924738,351.027435,shanghai,NaN,NaN,NaN,NaN,...,35.0,35.0,45.0,124.0,140.0,103.0,20.0,49.0,54.0,49.0
3815,2024-11-20 00:00:00+00:00,11.850000,0.0,4.379589,9.462248,shanghai,NaN,NaN,NaN,NaN,...,55.0,35.0,35.0,45.0,124.0,140.0,103.0,20.0,49.0,54.0
3818,2024-11-21 00:00:00+00:00,11.600000,0.0,5.692099,34.695221,shanghai,NaN,NaN,NaN,NaN,...,46.0,55.0,35.0,35.0,45.0,124.0,140.0,103.0,20.0,49.0
3820,2024-11-22 00:00:00+00:00,13.400000,0.0,7.145796,49.085716,shanghai,NaN,NaN,NaN,NaN,...,61.0,46.0,55.0,35.0,35.0,45.0,124.0,140.0,103.0,20.0

## <span style="color:#ff5f27;">‚è≠Ô∏è **Next:** Part 03: Training Pipeline
 </span> 

In the following notebook you will read from a feature group and create training dataset within the feature store